#message-pane {
    background: url(http://3.bp.blogspot.com/-u1kXbdpdk9Q/Ue0TfFwTqnI/AAAAAAAAJN8/sF0qMDh1yko/w1200-h630-p-k-no-nu/one-direction-BEST-SONG-EVER.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom
}
