
@import url('https://fonts.googleapis.com/css?family=Caveat');

#message-pane {
    background: url(http://www.art4uk.co.uk/ekmps/shops/art4uk/images/marilyn-monroe-black-white-and-red.-hot-lips-20-inch-square-canvas-art-picture-print-2758-p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom
}
.message-card
{
    max-width: 90%;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Caveat', cursive;
    font-weight:bold;

}

.message-time{
    margin-top: 4px;
    color: #383b3f;
    font-size: 15px;
    font-family: sans-serif;
}

#form-card
{
margin: 0px;
}